.main-button {
  background-color: $red !important;
  color: white;
  transition: $main-transition;
  border-radius: 25px !important;
  border: $red 2px solid !important;
  &:hover {
    border: $red 2px solid;
    background-color: white !important;
    color: $red !important;
  }
}

.submit-bets-action {
  margin-top: 25px;
  width: 100%;
  &-button {
    width: 200px;
    margin: 0 auto !important;
    display: block !important;
    border-radius: 25px !important;
    font-size: 20px !important;
    position: fixed;
    right: 110px;
    bottom: 20px;
  }
}

.ui.heart.rating .active.icon:before {
  color: $red !important;
}

.ui.toggle.checkbox input:checked ~ label:before {
  background-color: $red !important;
}