.form-info.validation {
  transition: $main-transition;
  opacity: 1;
  color: $grey;
  text-align: left;
  margin: 25px 0;
  transform-origin: center center;
  font-size:0.68rem;
  height: 125px;
  .form-info-title {
    color:$white;

  }
  .neutral-form-info {
    color: $red !important;
  }
  .validate-form-info{
    color: $green !important;
  }
  .error-form-info {
    color: $red !important;
  }
  &.hidden {
    opacity: 0;
    height: 0;
    transition: $main-transition;
    .form-info-title {
      color: transparent;
    }
  }
}
