.notFound-page {
  .lost {
    position: absolute;
    bottom: 0;
    width: 40%;
    left: 0;
    object-fit: cover;
  }

  .notFound-header {
    color: $vue-contrast;
    font-weight: bold;
    font-size: 15rem;
    margin: 0;

    @media #{$screen-and-max-1100} {
      font-size: 6rem;
    }

    &-small {
      font-size: 6rem;
      font-weight: lighter;
      @media #{$screen-and-max-1100} {
        font-size: 3rem;
      }
    }
  }

  .notFound-content {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .back-button {
    cursor: pointer;
    color: $white;
    border-radius: 25px;
    width: 300px;
    height: 70px;
    background-color: $vue-contrast;
    padding: 10px;
    border: 3px solid $vue-contrast;

    &:hover {
      color: $vue-contrast;
      background: $white;
    }
  }
}
