.userTableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: $vue;
  border-radius: 5px;
  width: 100%;
  max-width: 100%;

  .label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    i {
      margin: 0 10px;
    }
  }

  .button {
    min-width: 140px;
  }
  .pagination {
    margin: 0 20px;
  }
}

#AdminLayout {
  text-align: center;
  #adminUserTable {
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    .userTableHeader {
      @media #{$screen-and-max-450} {
        flex-direction: column;
        .input {
          margin-bottom: 5px;
        }
      }
    }
  }
}
