#adminUserTable {
  & > .container {
    @media screen and (max-width: 801px) {
      overflow-x: scroll;
    }
    table {
      min-width: 800px;
    }

    .userTableHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background: $grey;
      border-radius: 5px;
      width: 100%;
      min-width: 800px;

      .label {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        i {
          margin: 0 10px;
        }
      }

      .button {
        min-width: 140px;
      }
      .pagination {
        margin: 0 20px;
      }
    }
  }
}