.task-list-content {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-between;
  .progress {
    margin: 0 50px;
    min-width: 100px;
    flex: 1 1 100%;
    max-width: 600px;
  }
  span, .button-container {
    flex: 0 0 15%;
    button {
      width: 100px;
    }
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
  }
}