#dashboard, #consultWithKey {
  .row {
    margin: 30px 0;
    .tablet {
      &.column {
        &:last-child {
          margin-top: 20px;
        }
      }
    }
  }

  .column {
    @media #{$screen-and-max-1024} {
      margin-bottom: 20px !important;
    }
  }

  .list{
    h4, p {
      margin-bottom: 5px;
    }
    .item {
      margin-bottom: 20px;
    }
  }

  .betters-table-card {
    padding-bottom: 10px;
  }
  .betters-table {
    max-height: 375px;
    overflow-y: scroll;
  }

  .finished-bets, .available-bets {
    .item {
      .header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;

        .hometeam, .versus, .awayteam {
          margin: 0 10px;
        }

        .hometeam, .awayteam {
          font-size: 1rem;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          @media #{$screen-and-max-450} {
            font-size: 0.8rem;
          }
          .team-image {
            img {
              height: 75px;
              width: 75px;
              border-radius: 50%;
              @media #{$screen-and-max-768}{
                display: none;
              }
            }
            margin-right: 5px;
          }
        }

        .hometeam {
          justify-content: flex-end;
          span {
            justify-self: flex-end;
          }
          .team-image {
            margin-left: 10px;
          }
        }

        .awayteam {
          justify-content: flex-start;
          span {
            justify-self: flex-start;
          }
          .team-image {
            margin-right: 10px;
          }
        }

        .versus {
          color: grey;
          width: 20px;
        }
      }
      .tags {
        &> div {
         display: inline-block;
        }
        @media #{$screen-and-max-768} {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: Center;
          .label {
            margin: 2px 2px;
          }
          span {
            display: none;
          }
        }
      }
    }
  }
}
