#dashboard {
  .row {
    margin: 30px 0;
    .tablet {
      &.column {
        &:last-child {
          margin-top: 20px;
        }
      }
    }
  }
  .list{
    h4, p {
      margin-bottom: 5px;
    }
  }
}