#dashboard {
  .row {
    margin: 30px 0;
    .tablet {
      &.column {
        &:last-child {
          margin-top: 20px;
        }
      }
    }
  }
  .list{
    h4, p {
      margin-bottom: 5px;
    }
  }

  .betters-table-card {
    padding-bottom: 10px;
  }
  .betters-table {
    max-height: 375px;
    overflow-y: scroll;
  }

  .finished-bets, .available-bets {
    .item {
      .header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;

        .hometeam, .versus, .awayteam {
          max-width: 150px;
          margin: 0 10px;
        }

        .hometeam, .awayteam {
          font-size: 16px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .team-image {
            flex: 1 0 75px;
            img {
              height: 75px;
              width: 75px;
              border-radius: 50%;
            }
            margin-right: 5px;
          }
        }

        .hometeam {
          text-align: right;
          .team-image {
            margin-right: 5px;
          }
        }

        .awayteam {
          text-align: left;
          .team-image {
            margin-left: 5px;
          }
        }

        .versus {
          color: grey;
          width: 20px;
        }
      }
    }
  }
}