.layout {
  height: 100%;
  .menu, .pushable {
    margin: 0;
    border: 0;
    border-radius: 0;
  }

  .pushable {
    height: calc(100% - 40px);
    background: $vue-contrast;
  }

  .menu {
    a{
      &.active{
        transition: all 0.2s ease;
        &.item {
          background-color: $vue-contrast !important;
          position: relative;
          &:not([type="pageItem"]) {
            &:after {
              content: '';
              width: 4px;
              height: 100%;
              background: $vue-green;
              position: absolute;
              top: 0;
              right: 0;
            }
          }
        }
      }
    }
  }

  .navbar {
    width: 100%;
    justify-content: flex-end;
  }

  .menu-hamburger {
    width: 150px;
    display: flex;
    justify-content: center;
  }

  .pusher {
    &.full-width {
      width: 100%
    }
    width: calc(100% - 150px);
  }


  .content-container {
    height: calc(100vh - 40px);
    overflow-y: auto;
  }

  .ui.inverted.menu .item {
    &:not(.user-info) {
      &:not(.active) {
        &:not(.menu-hamburger) {
          &:hover {
            color: $vue-contrast !important;
            font-weight: bold;
            background-color: $white !important;

            i {
              color: $vue-contrast;
            }
          }
        }
      }
    }
  }

  .primary-bg {
    background: $vue !important;
  }

  .pushable {
    background-color: $vue-contrast !important;
  }

}