$red: #eb1c24;
$whitegrey: #f8f8f8;
$lightgrey: #dadada ;
$white: #fafafa ;
$grey: #2d2d2d;
$darkgrey: #0e1417;
$blue:#2196f3;
$green: #21BA45;
$orange: #f2711c;
$yellow: #FBBD08;
$brown: #A5673F;
$primary: #2196f3;
$primary-contrast: #03a9f4;
$vue: #1D2935;
$vue-contrast: #304457;
$vue-green: #42b983;
$material-lightgray-bg: #fafafa;
$legendary: #ffbe14;
$epic: #976fba;
$rare: #264eba;
$common: #aaaaaa;
