$screen-and-max-1100: screen and (max-width: 1100px);
$screen-and-max-1024: screen and (max-width: 1024px);
$min-768-and-max-992: (min-width: 768px) and (max-width: 992px);
$screen-and-max-800: screen and (max-width: 800px);
$screen-and-max-768: screen and (max-width: 768px);
$screen-and-max-500: screen and (max-width: 500px);
$screen-and-max-450: screen and (max-width: 450px);
$screen-and-max-400: screen and (max-width: 400px);
